body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #00B7FF;
}

div.weekLine {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

div span.weekTitle {
  background: #fff;
  padding: 0 10px;
}