<!DOCTYPE html>
<html>
<head>
  <title>Lynchburg Trail Runners Club: <%= title %></title>
  <link rel="icon"
        href="favicon.png">
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <link href="/css/style.css" rel="stylesheet"/>

  <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="/scripts/rwScripts.js"></script>
  <script type="text/javascript" src="/scripts/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</head>
<body onload="selectActive()">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="brand" href="/" style="padding-left:30px;font-size: 12pt;">Lynchburg Trail Runners Club</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a id="homeTab" href="/">Home</a>
          </li>
          <li>
            <a id="aboutTab" href="/about">About</a>
          </li>
          <li>
            <a id="eventsTab" href="/events">Event Calendar</a>
          </li>
          <li>
            <a id="galleryTab" href="/gallery">Gallery</a>
          </li>
          <li>
            <a id="runningLogTab" href="/runningLog">Running Log</a>
          </li>
          <li>
            <a id="membersTab" href="/members">Members</a>
          </li>
          <li>
            <a id="linkTab" href="/links">Links</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%- body %>
</div>
</body>
</html>
