<% layout('../layout') -%>

<h4>Upcoming Events:</h4>
<p>Display events here</p>
<div>
  <div class="weekLine">
    <span class="weekTitle">
      <strong>Week of March 3</strong>
    </span>
  </div>
  <table class="table table-hover">
    <thead>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    </thead>
    <tbody>
    <tr>
      <td>March 8</td>
      <td>7:00 PM</td>
      <td>Candlers</td>
    </tr>
    <tr>
      <td>March 15</td>
      <td>8:00 PM</td>
      <td>Blackwater Creek</td>
    </tr>
    <tr>
      <td>March 20</td>
      <td>5:30 PM</td>
      <td>Peaks View Park</td>
    </tr>
    </tbody>
  </table>
</div>
<h4>Past Events:</h4>
<p>Display events here</p>
<div>
  <table style="margin-left: 20px" class="table table-hover">
    <thead>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Distance</th>
    </thead>
    <tbody>
    <tr>
      <td>February 20</td>
      <td>7:00 PM</td>
      <td>Candlers</td>
      <td>12 mi</td>
    </tr>
    <tr>
      <td>March 1</td>
      <td>8:00 PM</td>
      <td>Blackwater Creek</td>
      <td>8 mi</td>
    </tr>
    <tr>
      <td>March 4</td>
      <td>5:30 PM</td>
      <td>Peaks View Park</td>
      <td>18 mi</td>
    </tr>
    </tbody>
  </table>
</div>