<% layout('../layout') -%>

<h3>Upcoming Events:</h3>
<div>
  <div class="weekLine">
    <span class="weekTitle">
      <strong>Week of March 3</strong>
    </span>
  </div>
  <div class="container-fluid well well-small">

    <div class="span4">
      Monday the 4th<br>Run
    </div>
    <div class="span6">
      <div class="span2">
        TIME:<br>
        PLACE:<br>
        WHO:<br>
      </div>
      8:00<br>
      Blackwater Creek<br>
      Alexis Thomas, Todd Thomas, and 8 others<br>
    </div>
  </div>
  <div class="weekLine">
    <span class="weekTitle">
      <strong>Week of March 10</strong>
    </span>
  </div>
  <p class="text-center">No runs scheduled for this week.</p>

  <div class="weekLine">
    <span class="weekTitle">
      <strong>Week of March 17</strong>
    </span>
  </div>
  <div class="container-fluid well well-small">

    <div class="span4">
      Monday the 18th<br>Run
    </div>
    <div class="span6">
      <div class="span2">
        TIME:<br>
        PLACE:<br>
        WHO:<br>
      </div>
      8:00<br>
      Blackwater Creek<br>
      Alexis Thomas, Todd Thomas, and 8 others<br>
    </div>
  </div>
  <div class="container-fluid well well-small">

    <div class="span4">
      Wednesday the 20th<br>Run
    </div>
    <div class="span6">
      <div class="span2">
        TIME:<br>
        PLACE:<br>
        WHO:<br>
      </div>
      8:00<br>
      Blackwater Creek<br>
      Alexis Thomas, Todd Thomas, and 8 others<br>
    </div>
  </div>
  <h3>Past Events:</h3>
</div>
