<% layout('../layout') -%>
<h1>Running Log</h1>
<p>Should have two forms <br> if logged in, should display some cool little applet that allows the user to monitor their running <br> if not logged in, tell them about the running log and give `em a link to join</p>
